@import './variables.scss';
// @import './buttons.scss';
// @import './inputs.scss';
// @import './login.scss';

html {
  font-family: 'FiraSans-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
	font-family: "FiraSans-Bold";
	src: url("../fonts/FiraSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "FiraSans-Regular";
	src: url("../fonts/FiraSans-Regular.ttf") format("truetype");
}


.btn-login {
  width: 200px;
}

.slide-in-bottom {
  @include animation-y(slide-in-bottom, 0.5s,  40px , 0 )
}


h1 {
	font-family: "FiraSans-Bold";
}

ul {
	list-style: none;
	padding: 0px;
}

:focus {
  outline: none;
}

input, select, textarea {
	border-style: none;
	border-width: 0px;
}
